.LandingLayout_title {
  background-image: linear-gradient(90deg, #e05599, #6e7fff);
  color: transparent;
  -webkit-background-clip: text;
}
.LandingLayout_headerItem:hover {
  background-image: linear-gradient(90deg, #e05599, #6e7fff);
  -webkit-background-clip: text;
  color: transparent;
}
